@charset "UTF-8";

{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #466F75, #DDF2F5);
}

main{
    background-color: #94E9F7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6A7475;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #466F75;
    text-align: center;
    text-shadow: 1px 1px 2px #DDF2F5;
}

h2{
    color: #466F75;
}

p{
    text-align: justify;
}